body {
	background-image: url( "../img/bF3NbnI.gif" );
	background-color: #fff;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	overflow: hidden;
}

#funnytext {
	background-color: #00000080;
	color: white;
}

#container {
	position: fixed;
	text-align: center;
	left: 0%;
	top: 45%;
	margin-top: -120px;
	/*margin-left: -150px;*/
	width: 100%;
}

#shadow {
	width: 64px;
	height: 32px;
	border-radius: 33px;
	background-color: #00000080;
	display: inline-block;
	z-index: -1;
}
